
package com.yl.dao;
import com.yl.modle.${className};
import java.util.List;
/**
 * @author rbf
 * @createdate ${now}
 * @desriction
 */
public interface ${className}Dao {


	public List<${className}> query${className}All();

}
